<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1001618470906-1m8oo8e5fm0j5sr8ll9sg311v0v82v1m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1001618470906-1m8oo8e5fm0j5sr8ll9sg311v0v82v1m</string>
	<key>API_KEY</key>
	<string>AIzaSyAg7hRgIjo9MMIAZamS1tq6v7Vwy_LTINA</string>
	<key>GCM_SENDER_ID</key>
	<string>1001618470906</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.toygift.GoogleLogInWithFirebase</string>
	<key>PROJECT_ID</key>
	<string>goologintest-c327a</string>
	<key>STORAGE_BUCKET</key>
	<string>goologintest-c327a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1001618470906:ios:b9780c7cad56df7f</string>
	<key>DATABASE_URL</key>
	<string>https://goologintest-c327a.firebaseio.com</string>
</dict>
</plist>