<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>user_image</key>
		<string>01.jpg</string>
		<key>user_comment</key>
		<string>오빠~~뭐해</string>
		<key>user_name</key>
		<string>이혜진</string>
	</dict>
	<dict>
		<key>user_image</key>
		<string>02.jpg</string>
		<key>user_comment</key>
		<string>아들 뭐하나?</string>
		<key>user_name</key>
		<string>아빠</string>
	</dict>
	<dict>
		<key>user_image</key>
		<string>03.jpg</string>
		<key>user_comment</key>
		<string>아들 밥 먹었어?</string>
		<key>user_name</key>
		<string>엄마</string>
	</dict>
	<dict>
		<key>user_image</key>
		<string>04.jpg</string>
		<key>user_comment</key>
		<string>오빠 사랑해~</string>
		<key>user_name</key>
		<string>찐이</string>
	</dict>
	<dict>
		<key>user_image</key>
		<string>05.jpg</string>
		<key>user_comment</key>
		<string>리터럴이란 값 자체를 이야기함. 값이 변수나 상수에 담긴 형태가 아니라 그에 저장되는 값 자체를 리터럴이라고 함
let size = &quot;180&quot; //size 변수에 180이라는 리터럴을 대입
Int(size) //변수 사용하는 예
Int(&quot;180&quot;) //리터럴을 사용하는 예</string>
		<key>user_name</key>
		<string>푸덜이</string>
	</dict>
</array>
</plist>
